.game-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.game-button {
    width: 64px;
    height:64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.game-button img {
    padding: .5rem;
}

.mid {
    flex-grow: 1;
}